@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    background-image: url("../images/login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   
}


.center-div{
    padding-top: 10%;
}
.btn.btn-success{
    padding: .4em 2em;
}
form{
    padding: 0 3em;
}
#sp{
    font-size: .8em;
}

.form-group input:focus {
    outline: 0;
}

.form-group.success input {
    border-color: #09c372;
}

.form-group.error input {
    border-color: #ff3860;
}

.form-group .error {
    color: #ff3860;
    font-size: 15px;
    height: 13px;
}